* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

header {
  margin-bottom: 20px;
  background-color: #bbb;
  padding: 1rem;
  box-shadow: 0 0 10px #333;
}

header h1 {
    text-align: center;
    margin-bottom: 10px;
}

header,
main {
  max-width: 900px;
  margin: 0 auto;
}

.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  background-color: #36454f;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #eee;
  color: #000;
}

main {
  gap: 1rem;
  padding: 1rem;
}

.temple-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

figure {
  text-align: center;
}

figure img {
  width: 100%;
  height: auto;
}

figcaption {
    margin-top: 8px;
    font-weight: bold;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #eee;
}
