/* ------------------ LARGE NAV ------------------ */
#menuButton {
  display: none;
}

#navMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#navMenu a {
  padding: 0.5rem 1rem;
}

/* ------------------ GRID ------------------ */
.temple-grid {
  grid-template-columns: repeat(3, 1fr);
}
